# Dependências
node_modules/

# Arquivos de ambiente
.env

# Arquivos de log
*.log

# Arquivos JSON armazenados
json_files/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo 